<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
              <requestLimits maxAllowedContentLength="104857600" /> <!--100 MB-->
            </requestFiltering>
          </security>
        <staticContent>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>
		<httpProtocol>
		  <customHeaders>
		    <add name="Access-Control-Allow-Origin" value="*" />
		  </customHeaders>
		</httpProtocol>
		<rewrite> 
		  <rules> 
			<rule name="WARP Redirect Rule">
				<match url="." ignoreCase="false" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php" />
			</rule>
		  </rules> 
		</rewrite>		
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.php" />
				<add value="default.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="104857600" /> <!--100 MB-->
        <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FF01A495B97E0384A329DA0F97BCAB795" validation="SHA1" validationKey="F01A495B97E0384A329DA0F97BCAB79554BC0B409DE62168764FF0DCE537184F0535D5D9AD66DEDCF01A495B97E0384A329DA0F97BCAB79554BC0B4097DC1ABF" />
    </system.web>
</configuration> 