<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
              <requestLimits maxAllowedContentLength="104857600" /> <!--100 MB-->
            </requestFiltering>
          </security>
		<httpProtocol>
		  <customHeaders>
		    <add name="Access-Control-Allow-Origin" value="*" />
		  </customHeaders>
		</httpProtocol>
		<rewrite> 
		  <rules> 
			<rule name="Warp Redirect Rule">
				<match url="." ignoreCase="false" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
				</conditions>
				<action type="Rewrite" url="index.php" />
			</rule>
		  </rules> 
		</rewrite>		
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.php" />
				<add value="default.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <httpRuntime maxRequestLength="104857600" /> <!--100 MB-->
    </system.web>
</configuration> 